<p>
  <b>Author string:</b>
  <%=h @name_author_string.author_string %>
</p>


<%= link_to 'Edit', edit_name_author_string_path(@name_author_string) %> |
<%= link_to 'Back', name_author_strings_path %>
