<h1>New response_format</h1>

<%= error_messages_for :response_format %>

<% form_for(@response_format) do |f| %>
  <p>
    <b>Response format</b><br />
    <%= f.text_field :response_format %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', response_formats_path %>
