<p>
  <b>Data source:</b>
  <%=h @data_provider.data_source_id %>
</p>

<p>
  <b>Participant:</b>
  <%=h @data_provider.participant_id %>
</p>


<%= link_to 'Edit', edit_data_provider_path(@data_provider) %> |
<%= link_to 'Back', data_providers_path %>
