<p>
  <b>Year:</b>
  <%=h @name_year.year %>
</p>

<p>
  <b>Unparsed:</b>
  <%=h @name_year.unparsed %>
</p>


<%= link_to 'Edit', edit_name_year_path(@name_year) %> |
<%= link_to 'Back', name_years_path %>
