<h1>Editing person</h1>

<%= error_messages_for :person %>

<%= render :partial => "person", :locals => { :person => @person, :button => "Update",  } %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
