%p
  %b Data source:
  =h @access_rule.data_source_id
%p
  %b Access type:
  =h @access_rule.access_type_id
%p
  %b Is allowed:
  =h @access_rule.is_allowed

= link_to 'Edit', edit_access_rule_path(@access_rule)
= "|"
= link_to 'Back', access_rules_path
