%h1 Publish your Names Collection here.

= error_messages_for :data_source

= render :partial => 'data_source', :locals => {:data_source => @data_source, :button => "Create" }

= link_to 'Back', data_sources_path
