<h1>New access_type</h1>

<%= error_messages_for :access_type %>

<%= render :partial => 'access_type', :locals => {:access_type => @access_type, :button => "Create" }  %>

<%= link_to 'Back', access_types_path %>
