<h1>New access_type</h1>

<%= error_messages_for :access_type %>

<% form_for(@access_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', access_types_path %>
