<h1>Names overlap for resource "<%= @data_source.title %>"</h1>

<table class="data bordered">
  <tr>
    <th class="top">Data source</th>
    <th class="top">Overlap</th>
    <th class="top">Overlap %</th>
  </tr>

<% for overlap in @data_source_overlaps %>
  <%- overlap_data_source_id = overlap.data_source_id_1 == @data_source_id ? overlap.data_source_id_1 : overlap.data_source_id_2 %>
  <tr>
    <td><%=h DataSource.find(overlap_data_source_id).title %></td>
    <td><%=h overlap.strict_overlap %></td>
    <th><%=h overlap.percentage %></td>
  </tr>
<% end %>
</table>

<br />

