
body {
	background-color: #999999;
	background-image: url(/images/public/admin_bkg.gif);
	/*background-repeat: repeat;
	background-position: left top;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 16px 0 0 0;
	padding: 0;
	min-width: 770px; */
}

/* 
 * =PAGE LAYOUT
 */

#centerwrapper {
	background-image: url(/images/public/admin_left_side.gif);
	/*background-repeat: repeat-y;
	background-position: left top;
	margin: 0 15px 0 24px;*/
}
#masthead {
	background-image: url(/images/public/admin_masthead_bg.gif);
	/*background-repeat: repeat-x;*/
	
}
#logodiv {
	background-image: url(/images/public/admin_logo_bg.gif);
	/*background-repeat: no-repeat;
	background-position: right top;*/
}

#centerbox {
	background-image: url(/images/public/admin_right_side.gif);
	/*background-repeat: repeat-y;
	background-position: right top;*/
}

#centerbottom {
	background-image: url(/images/public/admin_bottom.gif);
	/*background-repeat: repeat-x;*/
}
#centerbottominfo {
	background-image: url(/images/public/admin_bottom_right.gif);
	/*background-repeat: no-repeat;
	background-position: right top;*/
}

#logo_tuskit {
	color:#26507C;
	font-family:Arial;
	font-size:32px;
	margin-left:120px;
	margin-top:35px;
	position:absolute;
}

#logo_motto {
	color:black;
	font-family:Arial;
	font-size:12px;
	margin-left:30px;
	margin-top:90px;
	position:absolute;
}

#title {
	color: #26507C;
}

/**** MENU TABS ***/
#tabs-container {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.3em;
  background-image: url(/images/public/admin_menutile.gif);
  border-bottom: 6px solid #FFF;
  background-color: #bad9c2;
  background-repeat: repeat-x;
  
}

 #tabs {
   padding:0;
   padding-top: 1px;
   margin: 0;
   line-height: normal; 
  }
  
 #tabs li {
   list-style: none;
   margin: 0;
   padding: 0;
   display: inline;
  }

 #tabs li a {
   padding-left: 0.5em;
   padding-right: 0.5em;
   background: #bad9c2;
   text-decoration: none;
   color: #003;
   border-right: 1px solid #375f87;
   border-top: 1px solid #375f87;
   border-bottom: 0;
   line-height: normal;
  }

 #tabs li a:hover {
   /*color: #fff;*/
   background: #D7DFE4;
   border-color: #859AA8;
  }

 #tabs li a.active {
   background: white;
  }

 #tabs li a.active:hover {
  color: #777;
  background: #fff;
  border-color: #637987;
 }

#subtabs-container {
   background-color: #CCCCCC;
   font-size: .9em;
   font-family: "Trebuchet MS", Arial, sans-serif;   
   padding: 3px;
   font-weight: bold;
   }

  #subtabs {
    padding: 0;
    margin: 0;
   }

  #subtabs li {
    list-style: none;
    margin: 0;
    display: inline;
   }
   
  #subtabs li a {
    margin: 0;
    background: #CCCCCC;
    text-decoration: none;
    color: #003;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #777777;
    padding-top: 3px;
    padding-bottom: 3px;
   }

  #subtabs li a:hover {
    color: #fff;
    background: #777777;
    border-color: #777777;
	color:#FFFFFF;
	font-weight:bold;
	padding-top: 3px;
    padding-bottom: 3px;
   }

  #subtabs li a.active {
    background: white;
    padding-top: 3px;
    padding-bottom: 3px;
   }

  #subtabs li a.active:hover {
   color: #003366;
   background: #fff;
   border-color: #777777;
   padding-top: 3px;
   padding-bottom: 3px;
  }




