
body {
	background-color: #003366;
	background-image: url(/images/public/developer_bkg.gif);
	background-repeat: repeat;
	background-position: left top;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 40px 0 0 0;
	padding: 0;
	min-width: 770px;
}

/*
 * =UTILITY
 */
 h1, h2, h3, h4, h5, h6 {
 	margin:0;
	margin-bottom: 1em;
	color:#45704D;
 } 

 h1 {font-size:1.6em;}
 h2 {font-size:1.4em;}
 h3 {font-size:1.2em;}
 h4 {font-size:1.1em;}
 h5 {font-size:1em;}
 h6 {font-size:0.9em;}

 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size: 0.8em;
 }

 form {
  margin: 0;
  padding: 0;
  }

 img { border: none; }

 img.logo {
   width: 46px;
   height: 20px;
 }  

  a {
    color: #c00;
    text-decoration: none;
    }

  a:hover {
    color: #333;
    }

/* link placeholder if/when a link should be disabled */
.disabled_link {
	color: #aaa;
}

  hr {
    border: none;
    border-bottom: 1px solid #7D8692;
  }
  
  input[type="text"], input[type="password"] {
    border: 1px solid #444;
    padding: 0.2em;
  }

/*
* =FORMATTED DIFS
*/
.info-div {
	border: 1px solid #2e9410;
	background-color: #cbe4c3;
}

.error-div {
	border: 1px solid #822;
	background-color: #e99;	
}

.info-div, .error-div {
	margin: 1em 0em 1em 0;
	width: 50em;
	padding: 1em;	
}


/* 
 * =PAGE LAYOUT
 */

#centerwrapper {
	background-image: url(/images/public/developer_left_side.gif);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0 15px 0 24px;
}
#masthead {
	background-image: url(/images/public/developer_masthead_bg.gif);
	background-repeat: repeat-x;
	
}
#logodiv {
	background-image: url(/images/public/developer_logo_bg.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#centerbox {
	background-image: url(/images/public/developer_right_side.gif);
	background-repeat: repeat-y;
	background-position: right top;
}
#navwrapper {
	margin: 0px 18px 0px 8px;
	font-size: .85em;
}

.clearit {
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 1px;
}
#centercontent {
	font-size: .8em;
	line-height: 1.5em;
	margin: 0px 18px 0px 8px;
	padding: 10px 20px 1px 20px;
	background-color:#FFFFFF;

}
#centercontent .topmainHeader {
	color: #DAD2AD;
	font-size: 1.35em;
	margin: 16px 0 6px 0;
}
#centercontent p, #sidecontent p {
	margin: 0 0 12px 0;
}
#centercontent h2, #centercontent h3 {
	color: #660000;
}

.imageleft {
	float: left;
	padding: .4em 12px 0px 0px;
}
.imageright {
	float: right;
	padding: .4em 0px 0px 12px;
}
#centerbottom {
	background-image: url(/images/public/developer_bottom.gif);
	background-repeat: repeat-x;
}
#centerbottominfo {
	background-image: url(/images/public/developer_bottom_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#footer {
	font-size: 0.65em;
	padding: 8px 0 30px 0;
	margin: 0 20px 0 30px;
	font-style:italic;
	color: #FFFFFF;
}
#footer p {
	margin: 0 0 4px 0;
}


/*** DATA LAYOUT ***/

#data_layout {
}

#data_clear_layout {
  clear:both
}

#data_left_column {
  float: left;
}

#data_right_column {
  float: right;
}

/***** TOP MENU *****/
#top-menu {
  position: fixed;

  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  margin-top: -0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  height: 25px;
  background-color: #45704D;
}

#top-menu li {
  color: white;
  margin: 0;
  padding: 0;
  padding-right: 1em;
  list-style: none;
  display: inline;
}

#top-menu a {
  color: white;
}

#top-menu-left {
 float:left;
 width:50%; 
}

#top-menu-right {
  float:left;
  text-align: right;
  width:48%;
}

#top-menu-end {
  clear: both;
}

/**** MENU TABS ***/
#tabs-container {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.1em;
  background-image: url(/images/public/developer_menutile.gif);
  border-bottom: 6px solid #FFF;
  background-color: #779ec6;
  background-repeat: repeat-x;
  
}

 #tabs {
   padding:0;
   padding-top: 1px;
   margin: 0;
   line-height: normal; 
  }
  
 #tabs li {
   list-style: none;
   margin: 0;
   padding: 0;
   display: inline;
  }

 #tabs li a {
   padding-left: 0.5em;
   padding-right: 0.5em;
   background: #cbe4c3;
   text-decoration: none;
   color: #003;
   border-right: 1px solid #375f87;
   border-top: 1px solid #375f87;
   border-bottom: 0;
   line-height: normal;
  }

 #tabs li a:hover {
   /*color: #fff;*/
   background: #D7DFE4;
   border-color: #859AA8;
  }

 #tabs li a.active {
	background: white;
  }

 #tabs li a.active:hover {
  color: #777;
  background: #fff;
  border-color: #637987;
 }

#subtabs-container {
   background-color: #fff;
   border-top: 1px solid #cbe4c3;
   border-bottom: 1px solid #cbe4c3;
   font-size: .9em;
   font-family: "Trebuchet MS", Arial, sans-serif;   
   padding: 3px;
   font-weight: bold;
   }

  #subtabs {
    padding: 0;
    margin: 0;
   }

  #subtabs li {
    list-style: none;
    margin: 0;
    display: inline;
   }
   
  #subtabs li a {
    margin: 0;
    background: #cbe4c3;
    text-decoration: none;
    color: #003;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #777777;
    padding-top: 3px;
    padding-bottom: 3px;
   }

  #subtabs li a:hover {
    color: #fff;
    background: #777777;
    border-color: #777777;
	color:#FFFFFF;
	font-weight:bold;
	padding-top: 3px;
    padding-bottom: 3px;
   }

  #subtabs li a.active {
    background: white;
    padding-top: 3px;
    padding-bottom: 3px;
   }

  #subtabs li a.active:hover {
   color: #003366;
   background: #fff;
   border-color: #777777;
   padding-top: 3px;
   padding-bottom: 3px;
  }

/*LINK STYLES

#centercontent a:visited {
	color: #D2C99B;
}
#centercontent a:hover {
	color: #EAE6D0;
}
#centercontent a:active, #centercontent a:focus {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #C8805C;
}
*/
#centercontent a {
	text-decoration: none;
}

#footer a {
	color: #747557;
}
#footer a:visited {
	color: #92936C;
}
#footer a:hover {
	color: #333333;
}
#footer a:active, #footer a:focus {
	color: #F7E577;
	background-color: #505050;
	text-decoration: none;
}

.p7ie6Fix:active, #skiplinks a:active, #skiplinks a:focus {
	color: #F7E577;
	background-color: #505050;
}
/* The single backslash \ character inside this comment
causes IE5 Mac to ignore the following rule, which allows other
browsers to render top-level menu items to their natural width.
Leave this rule last in this style sheet. */
#p7PMnav li {
	width: auto;
}

#logo_gna {
	color:#45704D;
	font-family:Arial;
	font-size:32px;
	margin-left:30px;
	margin-top:35px;
	position:absolute;
}

#logo_motto {
	color:black;
	font-family:Arial;
	font-size:12px;
	margin-left:30px;
	margin-top:90px;
	position:absolute;
}


/* Styles from finance */

/** SPECIAL STYLES **/

#login_box {
	margin-left:auto;
	margin-right:auto;
	padding: 1em;
	background-color: #DDD;
	width:30em;
	text-align:left;
	border:2px solid #888;
}

/** END SPECIAL STYLES **/

 #overall {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  }
  
  #info {
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  font-size: .8em;
  }

 #title {
  float: left;
  margin-top: 20px;
  margin-left: 0px;
  color: #45704D;
  font-size: 1em;
  font-weight: bold;
  }

table {
	margin-top: 1.5em;	
}

table.layout {
	margin-top: 0;
	width: 100%;
	border-style: none;
	border-collapse: collapse;
}

table.layout td {
	padding: 0;
}

table.spreaded {
	width: 100%;	
}

table.data {
	padding: 0;
}

table.data td, table.data th {
	margin:0;
	padding: 0.3em;
}

table.data th {
	text-align: right;
	padding-right: 0.5em;
}

table.data th.top {
	text-align: left;
}

table.valign_top {
	vertical-align:top;
}

table.valign_top td, table.valign_top th {
	vertical-align:top;
}


table.bordered {
	border-right: 1px solid #777;
	border-top: 1px solid #777;
	border-collapse: collapse;
}

table.bordered td, table.bordered th {
	border-left: 1px solid #777;
	border-bottom: 1px solid #777;
}

table.no_border, table.no_border td, table.no_border th {
	border: 0;
}

.odd_even_0 {
	background:#f2f2f2;
	color:black;
}

.odd_even_1 {
	background:#ddd;
	color:black;
}


div.subsection {
	border: 1px solid #b5cf89;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.subsection_title {
    font-size: 1.3em;
    font-family: verdana, arial, helvetica, sans-serif;
    margin-bottom: 1em;
}

em.red {
	color:#a00;
}

a.btn_like, input[type="submit"] {
	margin:0;
	margin-top: 0.5em;
	padding:0;
	font-size:1em;
	text-decoration: none;
	color: black;
	padding: 0.15em;
    background: #eee;
    border: 2px outset #aaa;
	cursor: default;
}

a.btn_like {
	padding: 0.3em;
}

.btn_help {
    background-repeat: no-repeat;
    background-image: url(/images/public/btn_help_off.gif);
    color: red;
    padding-right: 45px;
}

.btn_help:hover {
    background-image: url(/images/public/btn_help_on.gif);
    color: blue;
}


div.search_field {
	margin-top:0.3em;
	margin-bottom:0.3em;
}

.unofficial {
	color:#777;
}

#flash div {
	margin-bottom: 10em;
	color: red;
}

#flash span {
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #0C2504;
  display: block;
}

#flash .notice {
    background: #CBE4C3;
    border-top: 1px solid #2E9410;
    border-bottom: 1px solid #2E9410;
}

#flash .error {
    background: #e99;
    border-top: 1px solid #822;
    border-bottom: 1px solid #822;
}


  
  /*

 * CSS for tree layout

 */


li.node {  
    color : black; 
    list-style : none;
} 

li.leaf {  
    color : black; 
    list-style : none;
    margin-left : 1em} 

ul.expanded {} 


ul.collapsed { display: none; } 


a.node:hover { 
    color : blue; 
    text-decoration : none;  } 
 

a.node:visited { 
    color : blue; 
    text-decoration : none;  } 

a.node:link { 
    color : blue; 
    text-decoration : none;  } 


.toggle_on {
    color : #990000;
}

.toggle_off {
    color: gray;
    text-decoration: underline;
}

.access_on {
	padding:0.1em;
	background-color: #333;
    color: #fff;
}

.access_off, a.access_on:hover {
	background-color: white;
	padding:0.1em;
    color: #dd0000;
}


.tree {
  margin-left: -2em;
  line-height: 2em;
}

.tree_main_table {
    width: 100%; 
    border: 1px solid gray; 
    border-collapse: collapse;

}


.tree_main_table td {
    border: 1px solid gray;

}

.tree_permissions_table {
    width: 100%;  
    border: none;
    border-collapse: collapse;
}

.tree_permissions_table td {
    border: none;   
}

/*
 * =POPUPS/TOOLTIPS
 */

 .tip-catlist {
  width: 200px;
  background: #EEF1FE;
  border: 2px solid #C2D2E7;
  padding: 5px;
  }

.popUp {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFC;
    visibility:     hidden;
    margin:         0 10px;
    padding:        0.5em;
    position:       absolute;
    border:         solid 1px black;
}

.popUp td {
    padding-right: 2em;
    vertical-align: top;
}
