%h1 Forgotten Password
- form_for :user, :url => {:action => :update} do |f|
  %p
    %label{:for => "email"} Enter your email address
    %br/
    = f.text_field :email 
  %p
    = f.submit 'Send me a new password'
