<h1>New participant</h1>

<%= error_messages_for :participant %>

<% form_for(@participant) do |f| %>
  <p>
    <b>Type</b><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', participants_path %>
