%p
  %b Name string:
  =h @name_index.name_string

%p
  %bData source:
  =h @name_index.data_source 

%p
  %bRespond format:
  =h @name_index.response_format

%p
  %b Kingdom:
  =h @name_index.kingdom

%p
  %b Uri:
  =h @name_index.uri

%p
  %b Uri type:
  =h @name_index.uri_type

%p
  %b Created:
  =h @name_index.created 

%p
  %b Deleted:
  =h @name_index.deleted

= link_to 'Edit', edit_name_index_path(@name_index) 
|
= link_to 'Back', name_indices_path
