%h1 What is Global Names Index (GNI)?

= link_to 'Back', root_url

%ul.info
  %li GNI is a big collection of Scientific Biological Names, names like 'Homo sapiens' but <b>not like</b> 'Human', 'Человек' or ''男人'
  %li Anybody can add a list of their own scientific names to GNI
  %li GNI is a hub where researchers can find scientific names collections similar to their own.
  %li GNI is meant to collect all Scientific Names created, cited, misspelled in one place and then make sense of them
  %li Global Names Index is a first component of a bigger collaboration endeavor -- Global Names Architecture (GNA). Global Names Architecture purpose is to organize knowledge about species names and taxonomic classifications  and make it possible for scientists to discover and use this knowledge.
