<h1>New name_string</h1>

<%= error_messages_for :name_string %>

<% form_for(@name_string) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', name_strings_path %>
