<p>
  <b>Data provider:</b>
  <%=h @data_provider_role.data_provider_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @data_provider_role.role %>
</p>


<%= link_to 'Edit', edit_data_provider_role_path(@data_provider_role) %> |
<%= link_to 'Back', data_provider_roles_path %>
