<h1>Editing organization</h1>

<%= error_messages_for :organization %>

<%= render :partial => 'organization', :locals => {:organization => @organization, :button => "Update" }  %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
