<h1>New organization</h1>

<%= error_messages_for :organization %>

<%= render :partial => 'organization', :locals => {:organization => @organization, :button => "Create" }  %>


<%= link_to 'Back', organizations_path %>
