<h1>Editing organization_membership</h1>

<%= error_messages_for :organization_membership %>

<%= render :partial => "organization_membership", :locals => { :organization_membership => @organization_membership, :button => "Update" } %>

<%= link_to 'Show', @organization_membership %> |
<%= link_to 'Back', organization_memberships_path %>
