<h1>New organization_membership</h1>

<%= error_messages_for :organization_membership %>

<%= render :partial => "organization_membership", :locals => { :organization_membership => @organization_membership, :button => "Create" } %>

<%= link_to 'Back', organization_memberships_path %>
